@import "../../../styles/resources.scss";

.container {
  color: $color-grey;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: $fontSize-normal;
}

.text {
  align-items: center;
}
