@import "../../../styles/resources.scss";

.container {
  color: $color-white;
  display: flex;
}

.label {
  text-transform: capitalize;
  font-size: $fontSize-small;
  margin-right: 5px;
}

.value {
  font-size: $fontSize-normal;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}

.units {
  font-size: $fontSize-small;
}
