@import "../../../styles/resources.scss";

.container {
  border: $color-white 2px solid;
  border-radius: 5px;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 180px;
}

.title {
  color: $color-white;
  font-size: $fontSize-large;
  font-weight: bold;
  border-bottom: $color-white 1px solid;
  margin: 8px;
  margin-bottom: 0;
  padding-bottom: 2px;
}

.date {
  color: $color-white;
  font-size: $fontSize-normal;
  text-align: center;
}

.temp {
  margin: 20px 20px 0px 20px;
}

.wind {
  max-height: 150px;
  margin: 20px 20px 0px 20px;
}
